language: php

sudo: false

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm

before_script:
  - composer self-update
  - composer install

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/psalm
  - ./vendor/bin/phpcs

after_script:
  - sh .travis.coverage.sh

matrix:
  allow_failures:
    php:
      - hhvm
      - 7.2
